html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-right: 0.125rem
 }
 
 html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-left: 0.125rem
 }
 
 .myAppDemoWT .myCustomText {
    display: inline-block;
    font-weight: bold;
 }

 .sapUiRFL {
    width: 90% !important;
}

div#__element4--content--RFLayout-row0 > div.sapUiRFLContainer:nth-child(2) {
    font-size: 100px !important;
    width: 12% !important;
    min-width: 10% !important;
}

@media (orientation: portrait) {

	.sapUiRFL {
		width: 100% !important;
	}

div#__element4--content--RFLayout {
    display: flex;
	}

}

.sapMDialogSection {
    text-align: center;
}